.singleProduct img{
    height: 270px ;
    object-fit: cover;
}

@media(min-width:992px){ 
    .singleProduct img{
        height: 270px !important;
        width: 100% !important;
        object-fit: cover;
    }
}