.home{
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(221, 220, 215);
    min-height: 100vh;
}
.home__image{
    mask-image: linear-gradient(to bottom, rgb(75, 72, 72), rgba(0,0,0,0));
    width: 100%;

}
.home__products{
    position: relative;
    top:-200px;
}

.home__product{
    height: 420px;
    width: 100%;
    /* border:1px solid; */
}
.home__product a{
    text-decoration: none !important;
    color: black !important;
}
@media(min-width:1200px){
    .home__products{
        top:-300px;
    }
}
